# Prevent node_modules from being committed
node_modules/
node_modules
slide-generator.py
test.md
xwzhu/PRD copy.md
xwzhu/UniPortal_PRD copy.md

# Obsidian 特定
.obsidian
.obsidian/*
.obsidian/workspace*
.obsidian/workspace.json
.obsidian/appearance.json
.obsidian/graph.json
.trash/
*.tmp

copilot
copilot/*
